name: CI
run-name: Doing CI...
on:
  push:
    branches:
      - integration
jobs:
  Build-services:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Start docker containers
        run: cd "Lab Work №5/src/api" && docker compose up &
      - name: Run integration tests
        run: cd "Lab Work №5/src/api" && ./test.sh